.ant-layout {
  min-height: 600px;
}
.ant-layout-header {
  background-color: rgba(0, 0, 0, 0);
}
.item_show {
  display: none;
}
.item_add {
  display: none;
}
.item_modify {
  display: none;
}
.item_delete {
  display: none;
}
