.favoriteList {
  display: block;
  position: relative;
  margin: 0;
  padding: 5px 10px;
}
.loveWrap,
.likeWrap,
.normalWrap,
.dislikeWrap,
.hateWrap {
  display: block;
  width: fit-content;
}
.character_wrap {
  display: block;
  .sign_btn {
    display: block;
    position: absolute;
    border: 2px solid #ca9e5c;
    width: 24px;
    height: 24px;
    top: 0px;
    &:hover {
      background-color: #e6ab5e;
    }
  }
}
.titleWrap {
  margin: 20px 10px;
  display: flex;
  position: relative;
  width: fit-content;
  padding: 6px;
  margin-bottom: 0;
  border: 1px solid #fff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }
  Button {
    margin-left: 8px;
    background-color: #ffe591;
    border: 1px solid #ca9e5c;
    &:hover {
      background-color: #ca9e5c;
      border: 1px solid #ffe591;
    }
    &:focus {
      background-color: #ffe591;
      border: 1px solid #ca9e5c;
    }
  }
  &:hover {
    transition: all 1s ease;
    border: 1px solid #ca9e5c;
  }
}
.sectionSpring,
.sectionSummer,
.sectionFall,
.sectionWinter,
.sectionMiss,
.sectionMarry {
  max-width: 700px;
  margin-left: 10px;
  font-weight: 700;
}
//스케쥴 상황
.seasonSpring,
.seasonSummer,
.seasonFall,
.seasonWinter,
.seasonMarry,
.seasonMiss {
  border-radius: 4px;
  border: 2px solid #e6ab5e;
  background-color: #ffe591;
  font-size: 17px;
  font-weight: 600;
}
.springWrap,
.summerWrap,
.fallWrap,
.winterWrap,
.marryWrap,
.missWrap {
  border: 2px solid #ca9e5c;
  border-radius: 6px;
  margin: 10px 0;
}
.scheduleWrap {
  padding: 6px 0;
  .scheduleList {
    display: inline-block;
    margin: 4px 6px;
    font-size: 16px;
    font-weight: 500;
  }
}
//스케쥴 상황
.sectionLove,
.sectionLike,
.sectionNormal,
.sectionDislike,
.sectionHate {
  max-width: 500px;
  margin-left: 10px;
}
.sectionSpring {
  display: none;
  border: 1px solid #ff8989;
  .springWrap {
    background-color: #fff;
    .seasonSpring {
      padding: 10px;
      margin-bottom: 0;
    }
  }
}
.sectionSummer {
  display: none;
  border: 1px solid #e6ab5e;
  .summerWrap {
    background-color: #fff;
    .seasonSummer {
      padding: 10px;
      margin-bottom: 0;
    }
  }
}
.sectionFall {
  display: none;
  border: 1px solid #e6d85e;
  .fallWrap {
    background-color: #fff;
    .seasonFall {
      padding: 10px;
      margin-bottom: 0;
    }
  }
}
.sectionWinter {
  display: none;
  border: 1px solid #5ee68b;
  .winterWrap {
    background-color: #fff;
    .seasonWinter {
      padding: 10px;
      margin-bottom: 0;
    }
  }
}
.sectionMiss {
  display: none;
  border: 1px solid #5ed3e6;
  .missWrap {
    background-color: #fff;
    .seasonMiss {
      padding: 10px;
      margin-bottom: 0;
    }
  }
}
.sectionMarry {
  display: none;
  border: 1px solid #5e90e6;
  .marryWrap {
    background-color: #fff;
    .seasonMarry {
      padding: 10px;
      margin-bottom: 0;
    }
  }
}

.sectionLove {
  display: none;
  background-color: #ffe4e4;
  border: 1px solid #ff8989;
  .loveWrap {
    margin: 8px;
    background-color: #fff;
  }
}
.sectionLike {
  display: none;
  background-color: #fff2e4;
  border: 1px solid #e6ab5e;
  .likeWrap {
    margin: 8px;
    background-color: #fff;
  }
}
.sectionNormal {
  display: none;
  background-color: #fdffe4;
  border: 1px solid #e6d85e;
  .normalWrap {
    margin: 8px;
    background-color: #fff;
  }
}
.sectionDislike {
  display: none;
  background-color: #beffae;
  border: 1px solid #5ee68b;
  .dislikeWrap {
    margin: 8px;
    background-color: #fff;
  }
}
.sectionHate {
  display: none;
  background-color: #e4feff;
  border: 1px solid #5ed3e6;
  .hateWrap {
    margin: 8px;
    background-color: #fff;
  }
}

////////////////////호감도 이벤트////////////////////////
.eventHeart {
  border: 2px solid #ca9e5c;
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  .conditionHeart {
    margin: 0;
    font-weight: 700;
  }
  .conditionDetail {
    font-size: 18px;
  }
  .event {
    margin: 10px 0;
    font-size: 16px;
    .friendship {
      &.plus {
        color: green;
      }
      &.minus {
        color: red;
      }
    }
    .content {
      margin-bottom: 0;
    }
  }
}
