.show_item_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.show_detail,
.show_detail_title {
  display: flex;
  padding: 10px 0;
  width: fit-content;
  font-size: 15px;
  border: 1px solid #e6ab5e;
  .detail_img,
  .detail_location,
  .detail_name,
  .detail_purpose,
  .detail_time,
  .detail_weather,
  .detail_season,
  .detail_healing,
  .detail_explain,
  .detail_obtainday,
  .detail_sellprice,
  .detail_buyprice,
  .detail_detail,
  .detail_ingredient,
  .detail_english {
    margin: 5px;
  }

  .detail_img {
    width: 30px;
    height: 30px;
  }
  .detail_english {
    width: 120px;
  }
  .detail_name {
    width: 100px;
  }
  .detail_location {
    width: 150px;
  }
  .detail_time {
    width: 100px;
  }
  .detail_weather {
    width: 80px;
  }
  .detail_purpose {
    width: 160px;
  }
  .detail_season {
    width: 70px;
  }
  .detail_healing {
    width: 80px;
  }
  .detail_explain {
    width: 160px;
  }
  .detail_obtainday {
    width: 60px;
  }
  .detail_sellprice {
    width: 60px;
  }
  .detail_buyprice {
    width: 60px;
  }
  .detail_detail {
    width: 160px;
    max-height: 70px;
    overflow: hidden;
    &:hover {
      max-height: fit-content;
    }
  }
  .detail_ingredient {
    width: 100px;
  }
}
.show_detail_title {
  background-color: #ffe591;
  justify-content: start;
}
.bundle_img {
  width: 24px;
  height: 24px;
}
