.card_wrap {
  position: relative;
  width: 700px;
  display: flex;
  padding: 14px 20px;
  background-color: azure;
  white-space: pre-line;

  .text_content {
    width: 400px;
    margin-right: 6px;
    h4 {
      display: block;
      position: relative;
      font-weight: 500;
      font-size: 24px;
      color: #707070;
      top: 0px;
    }
    p {
      display: block;
      position: relative;
      font-weight: 300;
      font-size: 18px;
      color: #707070;
      margin-top: 34px;
    }
    Button {
      display: block;
      position: relative;
      border-radius: 25px;
      margin-top: 34px;
      width: 128px;
    }
  }
  .img_content {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 240px;
      height: 180px;
    }
  }
}
