body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: -0.25px;
}
.inner {
  width: 1100px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
